*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3b49;
  letter-spacing: 0.016rem;
}

header {
  background-color: #3d3b49;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

header a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 400;
}

header a:hover,
header a:focus {
  color: orange;
}

main {
  margin: 3rem;
  line-height: 1.8;
  max-width: 90ch;
}

.about {
  line-height: 1.5;
  margin: 1rem 0;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2rem;
  vertical-align: middle;
}

h1 {
  font-weight: 400;
  font-size: 2, 25rem;
  line-height: 2.3rem;
}

h3 {
  font-size: 1.75rem;
}

.author {
  color: rgb(215, 47, 47);
}

ul {
  margin-left: 1.5rem;
}

li {
  line-height: 1.3;
  margin-top: 1.1rem;
}

footer {
  background-color: #3d3b49;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer h3,
footer p {
  color: aliceblue;
  text-decoration: none;
  font-weight: 400;
  max-width: 90ch;
}

footer h3 {
  margin: 1rem 0;
  font-size: 2rem;
}
footer p {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.35;
}